html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

:root {
  --active-color: #404bbf;
  --main-text-color: #434455;
  --main-title-color: #2e2f42;
  --second-title-color: #ffffff;
  --accent-color: #4d5ae5;
  --common-background-color: #f4f4fd;
  --second-background-color: #2e2f42;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* -----------------Header------------ */

@media screen and (max-width: 785px) {
  .header-container {
    display: none;
  }
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-background-color);
}
.logo-accent {
  color: var(--accent-color);
}
.header-mob {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 23px;
}
.header-mob-btn {
  display: flex;
  margin-left: auto;
}
.menu-open {
  stroke: #2e2f42;
  border: none;
  background: transparent;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-close-btn {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  margin-bottom: 32px;
  margin-top: 24px;
  padding: 0;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-btn:is(:hover, :focus) {
  fill: #ffffff;
  background-color: var(--active-color);
}

.mobile-nav-list {
  margin-left: 25px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--second-background-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:is(:hover, :focus) {
  color: var(--active-color);
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-bottom: 40px;
  margin-left: 25px;
  display: block;
}
.mobile-menu-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-left: 25px;
  display: block;
  margin-bottom: 48px;
}

.mobile-soc-wrap {
  margin-bottom: 40px;
}
.mobile-soc-list {
  display: flex;
  justify-content: space-around;
}

.mobile-soc-item {
  width: 40px;
  height: 40px;
}

.mobile-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-soc-icon {
  fill: #ffffff;
}

.mobile-soc-link:is(:hover, :focus) {
  background-color: var(--active-color);
}

/* --------------Hero section-------------- */

.hero {
  margin: auto;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background: var(--second-background-color);
}
.overlay {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile-bg-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--second-title-color);

  width: 320px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-title-color);
  cursor: pointer;
  background-color: var(--accent-color);

  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--active-color);
}

/* -----------------About section-------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
  text-align: center;
}
.about-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.about {
  padding-top: 96px;
  padding-bottom: 96px;
}
.about-item:not(:last-child) {
  margin-bottom: 72px;
}

/* ----------What are we doing section------ */

.examples-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.about-list-item {
  width: calc((100% -48px) / 3);
}

.examples-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 72px;
}

/* ----------------Our Team section--------- */
.team {
  background-color: var(--common-background-color);
}

.team-item {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
}

.team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-list {
  padding-bottom: 128px;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icons-item {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon {
  fill: #ffffff;
}

.team-icon-link:is(:hover, :focus) {
  background-color: var(--active-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 72px;
  padding-top: 96px;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.team-item-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.team-item {
  text-align: center;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* ---------------customers section---------------- */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 96px;
  margin-bottom: 72px;
}

.customers-item {
  width: 190px;
  height: 88px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;

  padding-bottom: 96px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item-logo {
  fill: #8e8f99;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  border-color: var(--active-color);
}

.customers-link:is(:hover, :focus) .customers-item-logo {
  fill: var(--active-color);
}

/* ----------footer section  -------- */
.footer {
  background-color: var(--second-background-color);
  padding-bottom: 96px;
  padding-top: 96px;
}

.footer-logo {
  display: block;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
  color: var(--common-background-color);
}
.footer-social-wrap {
  display: block;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 268px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.footer-icons-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.footer-icons-item {
  width: 40px;
  height: 40px;
}

.footer-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 16px;
  text-align: center;
}

.footer-sub-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 165px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  color: #ffffff;

  margin-left: auto;
  margin-right: auto;
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.input-sub {
  width: 100%;
  height: 40px;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 24px;
  padding-left: 16px;
  margin-bottom: 16px;
}
.input-sub::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
/* -------------------Portfolio page----------------- */

.filter-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--common-background-color);
  cursor: pointer;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn.current {
  color: var(--second-title-color);
  background-color: var(--active-color);
  cursor: pointer;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
  gap: 24px;
}

.filter-item:is(:hover, :focus) {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -------------projects section------------- */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 120px;
  cursor: pointer;
}

.projects-item {
  width: calc((100% - 48px) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-item:is(:hover, :focus) .projects-cover-text {
  transform: translateY(0);
}

.projects-cover-wrap {
  position: relative;
  overflow: hidden;
}

.projects-cover-text {
  position: absolute;
  top: 0;

  padding-top: 40px;
  padding-bottom: 164px;
  padding-left: 32px;
  padding-right: 32px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transition: transform;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.projects-item-wrap {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;

  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-wrap:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-pics {
  display: block;
}

/* --------------------------MODAL--------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .modal {
    width: 392px;
    min-height: 586px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  margin-bottom: 24px;
  padding: 0;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:is(:hover, :focus) {
  fill: #ffffff;
  background-color: var(--active-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);

  margin-bottom: 16px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  background: #fcfcfc;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-field {
  margin-bottom: 8px;
}

.textarea {
  margin-bottom: 16px;
}

.input-title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;

  margin-bottom: 4px;
  display: block;
}

.modal-user-comment {
  width: 100%;
  height: 120px;
  background: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;

  outline: transparent;
  resize: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-comment::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-user-comment:focus {
  border: 1px solid var(--accent-color);
}

.submit-btn {
  display: block;
  margin: auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  width: 169px;
  height: 56px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.policy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;

  cursor: pointer;
}

.policy-link {
  color: var(--accent-color);
  margin-left: 2px;
}

.policy-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid black;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
}

.input-policy:checked + .policy-text span {
  background-color: var(--active-color);
  border: none;
  fill: #f4f4fd;
}

.policy {
  margin-bottom: 24px;
}
