@media screen and (min-width: 768px) {
  .container {
    width: 766px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ---------header -------------- */

  .header-mob,
  .mobile-menu {
    display: none;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
  }

  .header-current {
    position: relative;
  }
  .header-current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    border-radius: 2px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .address-container {
    display: block;
    margin-left: auto;
  }
  .header-logo {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 120px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-link:is(:hover, :focus) {
    color: var(--active-color);
  }

  .header-list :is(:hover, :focus) {
    color: var(--active-color);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .header-tel {
    font-family: inherit;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-mail {
    font-family: inherit;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 12px;
  }

  /* --------------------- hero section------------ */

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--second-title-color);

    width: 496px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ------------- about section ----------- */
  .about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 24px;
  }

  .about-item:not(:last-child) {
    margin-bottom: 0;
  }
  .about-item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .about-item-title {
    text-align: left;
  }
  .about {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  /* --------- our team section------- */
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    padding-bottom: 104px;
  }

  .team-item:not(:last-child) {
    margin-bottom: 0;
  }

  .team-item {
    margin-left: 0;
    margin-right: 0;
  }
  /* ------------customers section----------- */
  .customers-item {
    width: 168px;
    height: 88px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  /* ------------------ footer section --------- */
  .foot {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-info-wrap {
    display: block;
    margin-left: 92px;
    margin-right: 24px;
  }
  .footer-icons-title {
    text-align: left;
  }
  .footer-sub-wrap {
    display: flex;
    margin-left: 92px;
  }
  .subscribe-form {
    display: flex;
  }
  .footer-sub-title {
    text-align: left;
  }
  .input-sub {
    width: 264px;
  }

  /* ------------pics opt----*/
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet-2x.jpg);
  }
}
